<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <a class="navbar-brand" href="#">{{title}}</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button> 
  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">LogIn
          <span class="sr-only">(current)</span>
        </a>
      </li>
    </ul>
  </div>
</nav>

<main role="main">  
  <div class="jumbotron">
    <div class="container">
      <h1 class="display-3">{{welcome.header + title}}</h1>
      <p>{{welcome.body}}  <b>{{welcome.name}} </b></p>
    </div>
  </div> 
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <h2>Companies</h2>
        <ul>
          <li *ngFor="let Company of myData.Companies">{{ Company.CompanyName }}</li>
        </ul>
      </div>
      <div class="col-md-3">
        <h2>Users</h2>
        <ul>
          <li *ngFor="let User of myData.Users">{{ User.Name }} {{ User.Surname }}
            <i>
              <u>{{ User.username }}</u>
            </i>
          </li>
        </ul>
      </div>
      <div class="col-md-3">
        <h2>Products</h2>
        <ul>
          <li *ngFor="let Product of myData.Products">{{ Product.ProductName }}
            <br>{{ Product.ProductDescription }}
            <i>
              <u>{{ Product.ProductPrice }} &euro;</u>
            </i>
            <br>
            <span style="text-align: left;"> -nga
              <b>{{ Product.Company.CompanyName }}</b>
            </span>
          </li>
        </ul>
      </div>
      <div class="col-md-3">
        <h2>Posts</h2>
        <ul>
          <li *ngFor="let Post of myData.Posts">{{ Post.PostTitle }}
            <br>{{ Post.PostBody }}
            <br>
            <i>
              <u>{{ Post.PostDate }}</u>
            </i>
          </li>
        </ul> 
      </div> 
    </div> 
    <hr> 
  </div> 
</main> 

  <footer class="container">
    <p>&copy; {{welcome.name}}</p>
  </footer>